body {
    font-size: 24px;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.red {
    color: red;
}
li.green {
    color: green;
}
li.red {
    color: red;
}
li.blue {
    color: blue;
}
ul ol li.red {
    color: cyan;
}
ul ol li.green {
    color: orange;
}
ul ol li.blue {
    color: magenta;
}
p.italic {
    font-style: italic;
}
p.bold {
    font-weight: bold;
}